.navbar {
    background-color: rgb(54, 52, 52);
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
   background-color: #ddd;
   color:black;
}

.navbar a.active {
    background-color: #1fbe84;
    color: white;
  }

  .header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin:10px;
  }

  .message {
    background-color: #c2ccc4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    line-height: 25px;
    width: 60%;
    margin-top: 0%;
   }

   .message-right {
    background-color: #c2ccc4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    line-height: 25px;
    width: 60%;
    margin-top: 0%;
    position: absolute;
    left: 38%;    
   }

  .page {
    background-color: rgb(219, 219, 207);
  }

.list{
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:20%;
}

.listbkgrd {
    background-color: #c2ccc4;
    width:20%;
    padding-left: 10px;
   padding-top: 15px;
   padding-bottom: 15px;
}

  .header {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin:10px;
  }

  .divbody{
    background-color: #c2ccc4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    line-height: 25px;
    width: 60%;
  }

  .contact{
    background-color: #c2ccc4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    line-height: 25px;
    width: 40%;
  }
  

  .absolute-image-swing{
      position: absolute;
      top: 32%;
      left: 15%;
      width: 15%;
      height: 25%;
  }

  .absolute-image-boris{
    position: absolute;
    top: 15%;
    left: 70%;
    width: 10%;
    height: 5%;
}
.absolute-image-mmj{
  position: absolute;
      top: 32%;
      left: 70%;
      width: 15%;
      height: 15%;
}
.absolute-image-mmj img{
  position: absolute;
    top: 240%;
    width: 75%;
    height: 150%;
}

  .absolute-image-swing img{
    position: absolute;
    top: 30%;
    width: 75%;
    height: 100%;
}

.absolute-image-boris img{
  position: absolute;
  width: 100%;
  height: 400%;
}

.imgborder {
  border: 10px solid #c2ccc4;
}

.circle-container {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  overflow: hidden; 
  position: relative; 
  border: 10px solid #c2ccc4;
  margin: 0 auto;
}


.circle-image {
  width: 115%;
  height: auto;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  object-fit: cover; 
  object-position: 30% 40%;
}

.text-below-circle {
  text-align: center; 
  font-size: 50px; 
  font-weight: bold; 
  color: #000; 
  margin-top: 40px; 
  font-family: Arial, Helvetica, sans-serif;
  
}

.centered-link {
  text-align: center; 
  line-height: 2; 
  display: block; 
}


.no-bullet-list {
  margin-top: 40px;
  text-align: center;
  list-style-type: none; 
  padding: 0; 
}

.no-bullet-list li{
  margin-bottom: 20px;
}

.no-bullet-list-proj {
  margin-top: 40px;
  text-align: left;
  list-style-type: none; 
  padding: 0; 
}

.no-bullet-list-proj li{
  margin-bottom: 10px;
}

.listitem
{
  background-color: #c2ccc4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 20px;
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}

.text-with-background {
  background-color: #c2ccc4;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #000; 
}
.name {
  background-color: #c2ccc4;
  padding: 10px; /* Add padding to create space around the text */
}

a {
  color:rgb(102, 102, 98);
}

p {
  color:rgb(102, 102, 98);
}